code.language-dto {
    .token.comment {
        color: var(--comment-color);
    }
    .token.keyword {
        color: #af4b1f;
    }
    .token.macro {
        color: var(--highlight-color);
    }
    .token.qualifier {
        color: var(--highlight-color);
    }
    .token.qbeFunction {
        color: var(--highlight-color);
    }
    .token.constant {
        color: #ba8123;
    }
    .token.operator {
        color: var(--comment-color);
    }
    .token.propExplicit {
        color: #b3d4fc;
        font-weight: 600;
    }
    .token.punctuation {
        color: var(--comment-color);
    }
}
