# pnpm 配置

# 解决包之间的依赖冲突。
# 当设置为 true 时，pnpm 会将相同依赖的不同版本安装到同一个位置，从而实现更高效的包共享。
# 这样做可能会导致一些包的依赖关系被破坏，因此它被称为 "shamefully"（有点不合规范），但在某些情况下可以提供更快的安装和更小的磁盘占用。
shamefully-hoist=true

# 自动安装 Peer 依赖关系。
# Peer 依赖关系是指一个包对于另一个包的运行时依赖关系，而不是开发时依赖关系。
# 当设置为 true 时，pnpm 会自动安装和管理 Peer 依赖关系，以确保它们与主依赖关系匹配。这样可以避免手动处理 Peer 依赖关系的问题。
auto-install-peers=true

# 控制对 Peer 依赖关系的严格检查。
# 当设置为 false 时，pnpm 不会强制检查 Peer 依赖关系的版本匹配，这样可以避免由于版本不匹配而导致的错误或警告。
# 然而，过度使用这个选项可能会隐藏潜在的问题，因为某些包可能依赖于特定版本的 Peer 依赖关系。
strict-peer-dependencies=false