.edit-list > .edit-list-body > .line-container,
.view-list > .view-list-body > .line-container {
    background-color: #fff;
}

.edit-list > .edit-list-body > .line-container:hover,
.view-list > .view-list-body > .line-container:hover {
    background-color: #f1f1f1;
}

.edit-list > .edit-list-body > .line-container.selected,
.view-list > .view-list-body > .line-container.selected {
    background-color: #d1ecff;
}

.edit-list:focus, .view-list:focus {
    outline: 0;
}
