:root {
    --list-line-bg-color: #fff;
    --list-line-hover-bg-color: #f1f1f1;
    --list-line-selected-bg-color: #d1ecff;
}

.edit-list > .edit-list-body > .line-container,
.view-list > .view-list-body > .line-container {
    background-color: var(--list-line-bg-color);
}

.edit-list > .edit-list-body > .line-container:hover,
.view-list > .view-list-body > .line-container:hover {
    background-color: var(--list-line-hover-bg-color);
}

.edit-list > .edit-list-body > .line-container.selected,
.view-list > .view-list-body > .line-container.selected {
    background-color: var(--list-line-selected-bg-color);
}

.edit-list:focus, .view-list:focus {
    outline: 0;
}
