:root {
    --message-z-index: 15000000;
    --loading-z-index: 10000000;
    --mask-z-index: 5000000;
    --toolbar-z-index: 2000000;
    --drag-view-z-index: 1000000;
    --edge-toolbar-z-index: 1000000;

    --vh: 1vh;
    --visual-height: calc(100 * var(--vh));
    --visual-top: 0;
    --visual-left: 0;

    color: var(--text-color);
    background-color: var(--background-color);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    position: relative;
    top: var(--visual-top);
    left: var(--visual-left);

    overflow: hidden;
    height: var(--visual-height);
    width: 100vw;
}

body {
    height: 100%;
    width: 100%;
}

#app {
    height: 100%;
    width: 100%;
}

.init-loading,
.init-loading * {
    transition: none !important;
}

/* 取消聚焦元素外层高亮 */
div:focus {
    outline: none;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    transition: background-color 0.3s;
}

::-webkit-scrollbar-track:hover {
    background-color: var(--scrollbar-track-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
    transition: background-color 0.3s;
    border-radius: 4px;
    cursor: default;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-color-hover);
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

/* splitpanes */
.splitpanes__pane {
    transition: none !important;
}

.splitpanes__splitter {
    background-color: var(--split-color);
    transition: background-color 0.3s;
}

.splitpanes__splitter:hover {
    background-color: var(--split-color-hover);
}

.splitpanes--vertical > .splitpanes__splitter {
    min-width: 6px !important;
}

.splitpanes--horizontal > .splitpanes__splitter {
    min-height: 6px !important;
}

/* common */
ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

pre,
code,
pre span {
    cursor: text;
}

input,
textarea,
select {
    outline: none;
    color: var(--text-color);
    border: var(--border);
    border-radius: 0;
    border-color: var(--background-color-hover);
    background-color: var(--background-color);
    font-weight: inherit;
    font-family: inherit;
    tab-size: 4;
}

textarea {
    resize: none;
    white-space: pre;
    word-wrap: normal;
    word-break: keep-all;
    overflow: hidden;
    overflow-wrap: normal;
}

input:focus,
textarea:focus,
select:focus {
    border-color: var(--border-color);
}

button {
    outline: none;
    border-radius: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    border: var(--border);
    border-color: var(--background-color-hover);
}

button:hover {
    background-color: var(--border-color-light);
}
