* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

:root {
    --text-color: var(--el-color-info-dark-2);
    --comment-color: var(--el-text-color-placeholder);
    --border-color: var(--el-color-info-dark-2);
    --background-color: var(--el-color-white);
    --highlight-color: var(--el-color-primary);
    --border: var(--el-border);
    --border-radius: var(--el-border-radius-base);
}

/* layout */
.layout {
    height: 100vh;
    width: 100vw;
}

.layout-menu-wrapper {
    padding: 0.2em 0 3em 1em;
    height: 100%;
    width: 100%;
    overflow: auto;
    white-space: nowrap;
    scrollbar-gutter: stable;
}

/* splitpanes */
.splitpanes__pane {
    transition: none !important;
}

.splitpanes__splitter {
    background-color: #eee;
}

.splitpanes__splitter:hover {
    background-color: #ccc;
}

.splitpanes--vertical > .splitpanes__splitter {
    min-width: 6px !important;
}

.splitpanes--horizontal > .splitpanes__splitter {
    min-height: 6px !important;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track:hover {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: #ddd;
    border-radius: 4px;
    cursor: default;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #bbb;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

/* common */
ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}


/* svg text */
g.x6-edge-tool > text::selection {
    background-color: transparent;
}
