.hover-item {
    cursor: default;
}

tr.hover-item > td {
    min-width: 3em;
    max-width: 10em;
    text-overflow: ellipsis;
    overflow: hidden;
}

.hover-item:hover {
    font-weight: 600;
}

details.right summary {
    width: fit-content;
    direction: rtl;
}

details.right ::marker {
    direction: ltr;
    padding-left: 2em;
}

details.hide ::marker {
    display: none;
    font-size: 0;
}
