.mx-context-menu {
    --mx-menu-backgroud: var(--background-color);
    --mx-menu-hover-backgroud: var(--background-color-hover);
    --mx-menu-active-backgroud: var(--background-color-hover);
    --mx-menu-open-backgroud: var(--background-color-hover);
    --mx-menu-open-hover-backgroud: var(--background-color-hover);
    --mx-menu-divider: var(--split-color);

    --mx-menu-text: var(--text-color);
    --mx-menu-hover-text: var(--text-color);
    --mx-menu-active-text: var(--text-color);
    --mx-menu-open-text: var(--text-color);
    --mx-menu-open-hover-text: var(--text-color);
    --mx-menu-disabled-text: var(--el-text-color-disabled);

    --mx-menu-shortcut-backgroud: var(--background-color);
    --mx-menu-shortcut-backgroud-hover: var(--background-color-hover);
    --mx-menu-shortcut-backgroud-active: var(--background-color-hover);
    --mx-menu-shortcut-backgroud-open: var(--background-color-hover);
    --mx-menu-shortcut-backgroud-disabled: var(--background-color);
    --mx-menu-shortcut-text: var(--text-color);
    --mx-menu-shortcut-text-hover: var(--text-color);
    --mx-menu-shortcut-text-active: var(--text-color);
    --mx-menu-shortcut-text-open: var(--text-color);
    --mx-menu-shortcut-text-disabled: var(--el-text-color-disabled);

    font-family: var(--el-font-family) serif;
    padding: 0.5em 0;
    border: var(--border);
    --mx-menu-backgroud-radius: var(--border-radius);
}

.mx-context-menu-item.disabled {
    --icon-color: var(--el-text-color-disabled);
}

.mx-context-menu-item {
    padding: 0.3em 0.5em;
}

.mx-context-menu-item .label,
.mx-context-menu-item .mx-shortcut {
    font-size: var(--el-font-size-extra-small);
    padding: 0;
}

.mx-context-menu-item .mx-shortcut {
    text-align: right;
    padding-left: 1em;
}

.mx-right-arrow {
    height: 0.5em;
}
