.el-button:focus {
    color: var(--el-button-text-color);
    background-color: var(--el-button-bg-color);
    border-color: var(--el-button-border-color);
    outline: 0;
}

.el-button:hover {
    color: var(--el-button-hover-text-color);
    border-color: var(--el-button-hover-border-color);
    background-color: var(--el-button-hover-bg-color);
    outline: 0;
}

.el-select-dropdown {
    min-height: 2em;
    min-width: 2em;
}

.el-button + .el-button {
    margin-left: 0.6em;
}

.cling-left .el-input__wrapper,
.cling-left.el-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: var(--border);
}

.cling-left.el-button {
    padding-left: 3px;
}

.cling-right .el-input__wrapper,
.cling-right.el-button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: var(--border);
}

.cling-right.el-button {
    padding-right: 3px;
}

.el-slider--small .el-slider__button-wrapper {
    height: 2em;
    width: 2em;
    top: -0.85em;
}

.el-slider--small .el-slider__button {
    height: 1em;
    width: 1em;
}

.el-slider--small .el-slider__runway,
.el-slider--small .el-slider__bar {
    height: 4px;
}

.el-dialog__body {
    padding: 0 1.5em 1em;
}

.el-dialog__headerbtn {
    height: auto;
    min-height: 2em;
    width: auto;
    min-width: 2em;
}

.is-disabled svg {
    stroke: var(--el-text-color-placeholder);
}

.el-message__content {
    white-space: pre-wrap;
    line-height: 1.4rem;
}
