.model-editor-graph {
    position: relative;
    height: 100%;
    width: 100%;
}

.model-editor-graph.non-drag .x6-graph-svg {
    cursor: default;
}

.model-editor-graph .toolbar {
    font-size: 12px;
    max-width: 50%;
    position: absolute;
    background-color: var(--background-color);
    box-shadow: var(--el-box-shadow);
}

.model-editor-graph ul.toolbar > li {
    display: inline;
    padding-right: 0.5em;
}

.model-editor-graph .toolbar.right-top {
    top: 0;
    right: 0;
}

.model-editor-graph .toolbar.left-top {
    top: 0;
    left: 0;
}

.model-editor-graph .toolbar.right-bottom {
    bottom: 0;
    right: 0;
}

.model-editor-graph .toolbar.left-bottom {
    bottom: 0;
    left: 0;
}

.model-editor-graph .x6-node-selected .node-wrapper {
    border: 2px solid var(--highlight-color);
}

.model-editor-graph .x6-highlight-stroke {
    stroke: var(--highlight-color) !important;
}
