.table-node {
    padding-bottom: 10px;
    color: var(--text-color);
    cursor: default;
}

.table-node table {
    background-color: var(--background-color);
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid var(--border-color);
    border-radius: 4px;
}

.table-node .head,
.table-node .column {
    white-space: nowrap;
}

.table-node .head {
    height: 35px;
    line-height: 35px;
    font-size: 16px;

    color: var(--background-color);
    background-color: var(--border-color);
    --comment-color: var(--background-color);
}

.table-node .head th {
    text-align: center;
    border-bottom: 1px solid var(--border-color);
}

.table-node .head .name {
    font-weight: 600;
    padding-left: 1em;
}

.table-node .head .super-table-separator {
    font-weight: 400;
    padding-right: 0.5em;
}

.table-node .head .super-table {
    font-weight: 400;
    padding-right: 0.8em;
}

.table-node .head .super-table.focus {
    color: var(--highlight-color);
    cursor: pointer;
}

.table-node .column {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}

.table-node .column .icon,
.table-node .column .type {
    padding: 0 0.5em;
}

.x6-node.hovered .table-node table {
    border-width: 3px;
    transform: translateX(-2px) translateY(-2px);
}

.x6-node.selected .table-node table {
    outline: 3px solid var(--highlight-color);
    outline-offset: 3px;
}
