.table-node {
    padding-bottom: 10px;
    font-family: var(--el-font-family);
    color: var(--el-color-info-dark-2);
    cursor: default;
}

.table-node table {
    background-color: #fff;
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid var(--common-color);
    border-radius: var(--el-border-radius-base);
}

.table-node .head,
.table-node .column {
    white-space: nowrap;
    height: 30px;
    line-height: 30px;
}

.table-node .icon,
.table-node .type {
    padding: 0 0.5em;
}

.table-node .head th {
    text-align: center;
    border-bottom: 1px solid var(--common-color);
    font-size: 16px;
}

.table-node .head .name {
    font-weight: 600;
}

.table-node .head .super-table-separator {
    font-weight: 400;
    padding-right: 0.5em;
}

.table-node .head .super-table {
    font-weight: 400;
    padding-right: 0.5em;
}

.table-node .head .super-table:hover {
    color: var(--highlight-color);
}

.table-node .column {
    font-size: 14px;
}

.x6-node.hovered .table-node table {
    border: 3px solid var(--common-color);
    transform: translateX(-2px) translateY(-2px);
}

.x6-node.selected .table-node table {
    outline: 3px solid var(--highlight-color);
    outline-offset: 3px;
}
