.hover-show .hover-show-item {
    visibility: hidden;
    user-focus: none;
    user-select: none;
}

.hover-show:hover .hover-show-item {
    visibility: visible;
    user-focus: auto;
    user-select: auto;
}

.selected-menu-item {
    background-color: rgba(220, 220, 220, 0.3);
}
